<!-- employee-details.component.html -->
<style>
    /* Hide default browser header and footer when printing */
    @media print {
        @page {
            size: auto; /* Make sure the size is set to auto */
            margin: 0; /* Remove default browser margins */
        }
        body {
            margin: 1.6cm; /* Set custom margin to provide spacing from top and bottom */
        }
    }
</style>
<div id="printContent">
    <h3>View Salary Details</h3><br>

    <div>
        <label><b>Employee ID: </b>{{salary.employeeId}}</label>
    </div>

    <div>
        <label><b>Salary Date: </b>{{salary.dateofSalary}}</label>
    </div>


    <div>
        <label><b>First Name: </b>{{salary.firstName}}</label>
    </div>

    <div>
        <label><b>Last Name: </b>{{salary.lastName}}</label>
    </div>

    <div>
        <label><b>Designation: </b>{{salary.designation}}</label>
    </div>

    <div>
        <label><b>Marital Status: </b>{{salary.maritalStatus}}</label>
    </div>

    <div>
        <label><b>Basic Salary: </b>{{salary.basicSalary}}</label>
    </div>

    <div>
        <label><b>Dearness Allowance: </b>{{salary.dearnessAllowance}}</label>
    </div>

    <div>
        <label><b>House Rent Allowance: </b>{{salary.houseRentAllowance}}</label>
    </div>

    <div>
        <label><b>Provident Fund: </b>{{salary.pfContribution}}</label>
    </div>

    <div>
        <label><b>Social Security Fund: </b>{{salary.ssfContribution}}</label>
    </div>

    <div>
        <label><b>Medical Insurance: </b>{{salary.medicalInsurance}}</label>
    </div>

    <div>
        <label><b>Monthly Income Tax: </b>{{salary.monthlyIncomeTax}}</label>
    </div>

    <div>
        <label><b>Net Monthly Salary: </b>{{salary.netMonthlySalary}}</label>
    </div>


    
</div>

<!-- Add the Print Button -->
<button (click)="printSalaryDetails()">Print</button>
